* {
  box-sizing: border-box;
}
li{
  list-style: none;
}
p {
  margin: 0;
}
h1,h2 {
  margin: 0;
}
ul {
  padding: 0;
}
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.header{
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 16px;
}

.input{
  height: 40px;
  width: 360px;
  fill: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input.email{
  margin-bottom: 8px;
}
.label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
.input:hover{
  border-color: #000000;
}

.input:focus{
outline: none;
border-color: #808080;
}

.btn{
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
display: block;
padding: 8px 16px;
border-radius: 8px;
background-color: #4E75FF;
border-color: #808080;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
border: none;
transition: all 0.3s ease;
border: none;
}

.btn:hover{
  background-color: #6C8CFF;
}
.greeting-container{
  display: flex;
  flex-direction: column;
}

.color{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

.widget{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  width: 345px;
  margin: 0 auto;
  padding: 88px 100px;
  
}
.task-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-item{
  width: 360px;
border: 1px solid #808080;
padding: 8px 16px;
border-radius: 4px;
color: #2e2f42;
}

.categories{
  display: flex;
  flex-direction: column;
  gap: 24px;
} 

.item{
 background-color: #f6f6fe;
 width: 392px;
  padding: 16px;
  border-radius: 4px;
}